* {
  background-color: #3f434b;
}


.App {
  text-align: center;
}

.Header {
  font-size: 40px;
  font-weight: 800;
}

.input {
  background-color: rgba(255, 255, 255, 0.524);
  color: black;
  font-weight: bold;
  border: solid;
  border-color: black;
  border-radius: 5px;
  margin: 5px 10px;
}



.Delete {
  background-color: red;
  font-weight: 800;
  border-color: black;
  border: solid;
  margin-left: 10px;
}